<div class="row">
  <div class="col-md-12">
      <div class="card card-info">
      <div class="card-header"></div>
      <div class="card-body">
          <table class="table table-responsive table-bordered">
              <thead class="">
                  <tr>
                      <th>Sl</th>
                      <th>Code</th>
                      <th>Name</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of countries">
                      <td>{{item.id}}</td>                       
                      <td>{{item.countryCode}}</td>     
                      <td>{{item.countryName}}</td>      
                  </tr>
              </tbody>
          </table>
      </div>
      </div>
  </div>
</div>